#allen{
    height: 100px;
    width: 100px;

}
#navbarAltMarkup{
    text-align: 150px;
}

#navbardiv{
    text-align:center;
    width: 90%;
}
#img1{
    height: 420px;
    width: 275px;
    float: left;
    padding: 12px;
}
#img2{
    height: 420px;
    width: 275px;
    float: left;
    padding: 12px;
}
#img3{
    height: 420px;
    width: 275px;
    float: left;
    padding: 12px;
}
#img4{
    height: 420px;
    width: 275px;
    float: left;
    padding: 12px;
}
#img5{
    height: 420px;
    width: 275px;
    float: left;
    padding: 12px;
}
#shopimg{
    height:300px;
margin-bottom: 30px;
    width: 100%;
}




